.headline {
    font-size: 24;
    padding-top: 16;
    margin-bottom: 12;
    font-weight: 400;
}

.margin-top-30 {
    margin-top: 30px
}

.margin-top-50 {
    margin-top: 50px
}

.margin-top-60 {
    margin-top: 60px
}
